body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 10px;
    color: rgb(212, 224, 215);
    background-color: maroon;
}

ul {
    margin-top: 20px;
}

h1 {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(120deg, #10ee69, #8e4301);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 70px;
}

h2 {
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(60deg, #10ee69, #8e4301);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
}