body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
}

ul {
    margin-top: 20px;
}

h1 {
    font-style: normal;
    background: linear-gradient(85deg, #111820, #2000eb);
    font-size: 50px;
}